@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand/Shrikhand.ttf");
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Black.ttf");
  src: url("fonts/Roboto/Roboto-Bold.ttf");
  src: url("fonts/Roboto/Roboto-Medium.ttf");
  src: url("fonts/Roboto/Roboto-Light.ttf");
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto";
  margin: 0 0 0 0;
}

#header {
  padding: 2rem 3rem 2rem 3rem;
}

.arrow {
  position: absolute;
  align-items: center;
  font-size: 23px;
  padding-top: 5px;
  color: #353535;
}

#logo {
  text-align: center;
}

#banner img {
  width: 100%;
  max-height: 32rem;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background-color: #f6f6f6;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
}

.nom-resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.nom-resto h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  margin-left: 11%;
}

.nom-resto i {
  margin-right: 11%;
  font-size: 28px;
}

#section-menus {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}

.menu-block {
  padding: 1rem;
}

.menu-block h2 {
  margin-right: 85%;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: lighter;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #99E2D0;
}

.menu {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin: 1.5rem 0;
  border-radius: 10px;
}

/*.menu:hover .check
{

}*/
@-webkit-keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.fade-1 {
  -webkit-animation: fadeIn 300ms;
          animation: fadeIn 300ms;
}

.fade-2 {
  -webkit-animation: fadeIn 600ms;
          animation: fadeIn 600ms;
}

.fade-3 {
  -webkit-animation: fadeIn 900ms;
          animation: fadeIn 900ms;
}

.fade-4 {
  -webkit-animation: fadeIn 1100ms;
          animation: fadeIn 1100ms;
}

.fade-5 {
  -webkit-animation: fadeIn 1400ms;
          animation: fadeIn 1400ms;
}

.fade-6 {
  -webkit-animation: fadeIn 1700ms;
          animation: fadeIn 1700ms;
}

.fade-7 {
  -webkit-animation: fadeIn 2000ms;
          animation: fadeIn 2000ms;
}

.fade-8 {
  -webkit-animation: fadeIn 2300ms;
          animation: fadeIn 2300ms;
}

.fade-9 {
  -webkit-animation: fadeIn 2600ms;
          animation: fadeIn 2600ms;
}

.menu-text {
  padding: 1rem 0 1rem 1rem;
  flex-direction: column;
}

.menu-text .title {
  margin: 0 0 0 0;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-text .description {
  margin: 0 0 0 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price {
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  padding: 1rem;
}

.btn-box {
  text-align: center;
}

.btn {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  padding: 18px 50px 18px 50px;
  font-size: 17px;
  border: none;
  margin: 10px 0 50px 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 15px #cccccc;
  justify-content: center;
}
.btn:hover::after {
  opacity: 0.25;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  box-shadow: 0px 3px 15px black;
  border-radius: 50px;
}

.btn a {
  color: white;
  text-decoration: none;
}

#footer-box {
  background-color: #353535;
  padding-top: 30px;
}

.ohmyfood {
  font-family: "Shrikhand";
  font-size: 26px;
  color: white;
  margin-left: 8%;
}

.footer-text {
  margin-left: 8%;
  color: white;
  padding: 20px 0 20px 0;
  line-height: 200%;
  font-size: 20px;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-block {
  display: flex;
}

.utensils {
  padding: 0 25px 0 5px;
}

.hands {
  padding-right: 20px;
}

/*--------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 440px) and (max-width: 1434px) {
  #section-menus {
    flex-direction: column;
    margin: 0 10px;
  }

  .nom-resto h1 {
    margin-left: 30px;
  }

  .nom-resto i {
    margin-right: 30px;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 316px) and (max-width: 439px) {
  #header {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  #section-menus {
    flex-direction: column;
    margin: 0 5px;
  }

  .nom-resto h1 {
    margin-left: 30px;
    font-size: 26px;
  }

  .nom-resto i {
    margin-right: 30px;
  }

  .title {
    font-size: 17px;
  }

  .description {
    margin: 0;
    font-size: 14px;
  }

  .ohmyfood {
    font-size: 24px;
  }
}
/*-----------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 315px) {
  #header {
    padding: 2rem 0.9rem 2rem 0.9rem;
  }
}
/*-------------------------------------------Tablettes version--------------------------------------*/
/*--------------------------------------------Ipad - Ipad pro---------------------------------------*/
/*-------------------------------------------Large Smartphones version--------------------------------------*/
/*---------------------Pixel 2/2XL - Iphone S6/7/8 - S6/7/8 Plus - Iphone X - Surface Duo ------------------*/
/*-------------------------------------------Medium Smartphones version--------------------------------------*/
/*--------------------------------------------Moto G4 - Galaxy S5--------------------------------------------*/
/*-------------------------------------------Small Smartphones version--------------------------------------*/
/*-------------------------------------------Iphone 5/SE - Galaxy fold--------------------------------------*//*# sourceMappingURL=menus.css.map */