@font-face 
{
  font-family:'Shrikhand';
  src: url('fonts/Shrikhand/Shrikhand.ttf');
  
  font-family:'Roboto';
  src: url('fonts/Roboto/Roboto-Black.ttf');
  src: url('fonts/Roboto/Roboto-Bold.ttf');
  src: url('fonts/Roboto/Roboto-Medium.ttf');
  src: url('fonts/Roboto/Roboto-Light.ttf');
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@import "./utils/variables";

body {
  font-family: "Roboto";
  margin: 0 0 0 0;
}

#header {
  padding: 2rem 3rem 2rem 3rem;
}

.arrow {
  position: absolute;
  align-items: center;
  font-size: 23px;
  padding-top: 5px;
  color: #353535;
}

#logo {
  text-align: center;
}

#banner img {
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

main {
  background-color: $colour-background;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
}

.nom-resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.nom-resto h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  margin-left: 11%;
}

.fav {
  position: relative; /*bloc englobant*/
  margin-right: 10%;
  i {
    color: $colour-icons; 
    font-size: 30px;
  }
  .full-heart{
    position: absolute; /*élément absolute*/
    left: 0px; /* a 0-left du bloc englobant*/
    opacity: 0;
    &:hover{
      background: linear-gradient(to top, $colour-primary, $colour-secondary);
      background-clip: text;
      color: transparent;
      opacity: 1;
      transition: 0.9s ease;
    }
  }
  .empty-heart:hover{
    opacity: 0;
  }
}

#section-menus {
  margin: 0 11% 0 11%;
}

.menu-block {
  padding: 1rem;
}

.menu-block  h2 {
  width: 50px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: lighter;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-color: #99E2D0;
}

.menu {
  display: flex;
  overflow: hidden;
  background-color: $colour-white;
  width: 100%;
  margin: 1.5rem 0;
  border-radius: 10px;
  padding: 1rem;
}

@keyframes fadeIn
{
  from {
    transform: scale(0);
  }
  
  to {
    transform: scale(1);
  }
}

.fade-1 {
  animation: fadeIn 300ms;
}

.fade-2 {
  animation: fadeIn 600ms;
}

.fade-3 {
  animation: fadeIn 900ms;
}

.fade-4 {
  animation: fadeIn 1100ms;
}

.fade-5 {
  animation: fadeIn 1400ms;
}

.fade-6 {
  animation: fadeIn 1700ms;
}

.fade-7 {
  animation: fadeIn 2000ms;
}

.fade-8 {
  animation: fadeIn 2300ms;
}

.fade-9 {
  animation: fadeIn 2600ms;
}

.menu-text {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-text .title {
  margin: 0 0 0 0;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-text .description {
  margin: 0 0 0 0;
  font-size: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  margin: 0 0 0 0;
  font-size: 17px;
  padding-top: 3px;
}

.menu-prix {
  display: flex;
  justify-content: flex-end;
}

.price {
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  padding-left: 10px;
}

.menu:hover .check {
  margin-right: -1rem;
}

.menu:hover .check-icon {
  transform: rotate(0deg);
}

.check {
  background-color: $colour-tertiary;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
}

.check-icon {
  color: $colour-white;
  font-size: 30px;
  font-weight: bold;
  transform: rotate(180deg);
  transition-duration: .5s;
}

.btn-box {
  text-align: center;
}

.btn {
  border-radius: 50px;
  background: linear-gradient($colour-secondary,$colour-primary); 
  color: $colour-white;
  font-weight: bold;
  padding: 18px 50px 18px 50px;
  font-size: 17px;
  border: none;
  margin: 10px 0 50px 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 15px $colour-shadow;
  justify-content: center;
  &:hover {
    &::after {
      opacity: 0.25;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    background-color: lighten($colour-white, 5);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    box-shadow: 0px 3px 15px black;
    border-radius: 50px;
  }
}

.btn a {
  color: white;
  text-decoration: none;
}

#footer-box {
  background-color: $colour-footer;
  padding-top: 30px;
}

.ohmyfood {
  font-family:'Shrikhand';
  font-size: 26px;
  color: $colour-white;
  margin-left: 8%;
}

.footer-text {
  margin-left: 8%;
  color: $colour-white;
  padding: 20px 0 20px 0;
  line-height: 200%;
  font-size: 20px;
}

.footer-text a {
  text-decoration: none;
  color: $colour-white;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-block {
  display: flex;
}

.utensils {
  padding: 0 25px 0 5px;
}

.hands {
  padding-right: 20px;
}

/*--------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 440px) and (max-width: 1200px)
{
  
  #section-menus {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px; 
  }
  
  .menu {
    padding: 15px;
    width: auto;
  }
  
  .nom-resto h1 {  
    margin-left: 30px;
  }
  
  .nom-resto i {
    margin-right: auto;
  }
  
  .fav {
    position: relative; /*bloc englobant*/
    margin-right: 30px;
  }
  
}

/*----------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 316px) and (max-width: 439px)
{
  #header {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }
  
  #section-menus {
    flex-direction: column;
    margin: 0 5px;
  }
  
  .menu {
    width: auto;
  }
  
  .nom-resto h1 {  
    margin-left: 20px;
    font-size: 26px;
  }
  
  .nom-resto i {
    margin-right: auto;
  }
  
  .title {
    font-size: 17px;
  }
  
  .description {
    margin: 0;
    font-size: 14px;
  }
  
  .ohmyfood {
    font-size: 24px;
  }
  
}

/*-----------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 315px)
{
  #header {
    padding: 2rem 0.9rem 2rem 0.9rem;
  }  
}

/*-------------------------------------------Tablettes version--------------------------------------*/

/*--------------------------------------------Ipad - Ipad pro---------------------------------------*/

@media all and (min-width: 768px) and (max-width: 1169px)
{}

/*-------------------------------------------Large Smartphones version--------------------------------------*/

/*---------------------Pixel 2/2XL - Iphone S6/7/8 - S6/7/8 Plus - Iphone X - Surface Duo ------------------*/

@media all and (min-width: 361px) and (max-width: 767px)
{}
/*-------------------------------------------Medium Smartphones version--------------------------------------*/

/*--------------------------------------------Moto G4 - Galaxy S5--------------------------------------------*/

@media all and (min-width: 321px) and (max-width: 360px)
{}

/*-------------------------------------------Small Smartphones version--------------------------------------*/

/*-------------------------------------------Iphone 5/SE - Galaxy fold--------------------------------------*/
