/* 576px pour les téléphones en portrait
768px pour les tablettes
992px pour les ordinateurs portables
1200px pour les grands écrans*/

@font-face 
{
  font-family:'Shrikhand';
  src: url('fonts/Shrikhand/Shrikhand-Regular.ttf');
  
  font-family:'Roboto';
  src: url('fonts/Roboto/Roboto-Black.ttf');
  src: url('fonts/Roboto/Roboto-Bold.ttf');
  src: url('fonts/Roboto/Roboto-Medium.ttf');
  src: url('fonts/Roboto/Roboto-Light.ttf');
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@import "./utils/variables";

body {
  font-family:'Roboto';
  margin: 0 0 0 0;
}

@keyframes loader {
  100%{
    opacity: 0;
    z-index: -5;
  }
}

.loader
{
  animation: loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  color: $colour-loader;
  display: flex;
  
  .dot {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 50%;
    
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      animation: wave 2s ease-out infinite;
    }
    
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background: nth($colour-loader, $i);
        
        &::before {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }
  
  80%,
  100% {
    opacity: 0;
  }
}

header
{
  padding: 2rem 3rem 2rem 3rem;
}

#logo
{
  text-align: center;
}

#section-1
{
  text-align: center;
  background-color: $colour-background; 
}

.localisation
{
  
  background-color: $colour-search;
  padding: 20px 0;
  box-shadow: inset 0px 2px 7px $colour-shadow;
  font-weight: bold;
  color: #353535;
  font-size: 20px;
}

.localisation i
{
  padding-right: 1%;
  font-size: 20px;
  color: #353535;
}

#section-1 h1
{
  margin: 30px 0 20px 0;
  font-weight: 900;
  font-size: 28px;
}

#section-1 h2
{
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: lighter;
}


.btn {
  border-radius: 50px;
  background: linear-gradient($colour-secondary,$colour-primary); 
  color: $colour-white;
  font-weight: bold;
  padding: 18px 17px 18px 17px;
  font-size: 17px;
  border: none;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 15px $colour-shadow;
  &:hover {
    &::after {
      opacity: 0.25;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    background-color: lighten($colour-white, 5);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    box-shadow: 0px 3px 15px black;
    border-radius: 50px;
  }
}

.btn a
{
  color: white;
  text-decoration: none;
}

#fonctionnement-section
{
  margin: 3rem 8rem;
}

#fonctionnement-section h2
{
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 30px;
}

.fonctionnement
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.etiquettes{
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 20px;
  position: relative;
}

.number
{
  background-color: $colour-primary;
  padding: 5px 10px 5px 10px;
  color: $colour-white;
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  margin: -15px;
}

.block
{
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  width: 100%;
  box-shadow: 0px 2px 15px $colour-shadow; /* 1 décalage horizontal - 2 vertical - 3 adoucicement - 4 couleur*/
  z-index: 1;
  position: relative;
  &:hover{
    &::before{
      opacity: 0.25;
    }
  }
  &::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    background-color: lighten($colour-primary, 5);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    border-radius: 15px;
    box-shadow: 0px 4px 15px $colour-primary;
  }
}

.block i
{
  color: $colour-icons; 
}

.block p
{
  font-weight: bold;
}

.mobile
{
  padding: 0 22px 0 25px;
  font-size: 22px;
}

.list
{
  padding: 0 22px 0 22px;
  font-size: 20px;
}

.store
{
  padding: 0 22px 0 22px;
  font-size: 19px;
}

#Restaurants
{
  background-color: $colour-background;
  padding: 2rem 0; 
}

#Restaurants h2 
{
  margin: 2rem 8rem;
}

.restaurant-box
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem 6rem;
}

.restaurants-cards
{
  background-color: $colour-white;
  width: 45%;
  height: 250px;
  border-radius: 25px;
  box-shadow: 0 2px 20px $colour-shadow;
  margin: auto ;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.restaurants-cards a
{
  text-decoration: none;
}

/*Pour les éléments qui sont position: absolute, 
propriétés top/right/bottom/left définit la distance entre le bord de la marge de l'élément et le bord haut du bloc englobant. 
(il faut que le bloc englobant ait position: relative).*/

.new-box
{
  position: relative; /*bloc englobant*/
  margin: 0;
}

.new
{
  position: absolute; /*élément absolute*/
  background-color: $colour-tertiary;
  color: #008766;
  border-radius: 2px;
  font-size: 18px;
  top: 20px;
  right: 20px;
  padding: 5px 8px;
  font-weight: bold;
}

.restaurants-cards img 
{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
}

.description-cards
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-cards
{
  flex-direction: column;
  align-items: center;
  margin: 18px 0 0 20px;
}

.text-cards h3
{
  font-size: 23px;
  color: black;
  width: 100%;
  line-height: 0;
  margin-top: 10px;
}

.text-cards p
{
  font-size: 20px;
  color: black;
  line-height: 1;
}

.fav{
  position: relative; /*bloc englobant*/
  margin-right: 40px;
  i {
    color: $colour-icons; 
    font-size: 30px;
  }
  .full-heart{
    position: absolute; /*élément absolute*/
    left: 0px; /* a 0-left du bloc englobant*/
    opacity: 0;
    &:hover{
      background: linear-gradient(to top, $colour-primary, $colour-secondary);
      background-clip: text;
      color: transparent;
      opacity: 1;
      transition: 0.9s ease;
    }
  }
  .empty-heart:hover{
    opacity: 0;
  }
}

#footer-box
{
  background-color: $colour-footer;
  padding-top: 30px;
}

.ohmyfood
{
  font-family:'Shrikhand';
  font-size: 26px;
  color: $colour-white;
  margin-left: 8%;
}

.footer-text
{
  margin-left: 8%;
  color: $colour-white;
  padding: 20px 0 20px 0;
  line-height: 200%;
  font-size: 20px;
}

.footer-text a
{
  text-decoration: none;
  color: $colour-white;
}

.footer-text a:hover
{
  text-decoration: underline;
}

.footer-block
{
  display: flex;
}

.utensils
{
  padding: 0 25px 0 5px;
}

.hands
{
  padding-right: 20px;
}

/*-----------------------Version Smartphone----------------------*/

@media all and (min-width: 321px) and (max-width: 1189px)
{
  .titles-box
  {
    margin: 0 2rem;
  }
  
  #fonctionnement-section
  {
    margin: 3rem 2rem;
  }
  
  #fonctionnement-section h2
  {
    margin-left: -10px;
    
  }
  
  .fonctionnement
  {
    flex-direction: column;
    margin: 0 0 0 10px;
  }
  
  .etiquettes
  {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .restaurant-box
  {
    flex-direction: column;
    margin: 0rem 1.5rem;
  }
  
  #Restaurants h2 
  {
    margin: 2rem 1.5rem;
  }
  
  .restaurants-cards
  {
    width: 100%;
  }
  
  .new
  {
    margin-left: 0%;
  }
  
}