$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: white;
$colour-background: #f6f6f6;
$colour-shadow: #dfdfdf;
$colour-footer-icons: #353535;
$colour-search: #eaeaea;
$colour-icons: #7e7e7e;
$colour-loader: #9356DC, #AE5FDC, #C968DB, #E470DB, #FF79DA;