@font-face {
  font-family:'Shrikhand';
  src: url('fonts/Shrikhand/Shrikhand.ttf');  
  font-family:'Roboto';
  src: url('fonts/Roboto/Roboto-Black.ttf');
  src: url('fonts/Roboto/Roboto-Bold.ttf');
  src: url('fonts/Roboto/Roboto-Medium.ttf');
  src: url('fonts/Roboto/Roboto-Light.ttf');
  src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@import "./utils/variables";

body {
  font-family: "Roboto";
  margin: 0 0 0 0;
}

#header {
  padding: 2rem 3rem; /*1rem = environ 16px - 1em = 100% de la taille de base du navigateur*/
}

.arrow {
  position: absolute;
  align-items: center;
  font-size: 23px;
  padding-top: 5px;
  color: $colour-footer-icons;
}

#logo {
  text-align: center;
}

.banner img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

main {
  background-color: $colour-background;
  margin-top: -2.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
}

.main-box
{
  margin: 0 11%;
}

@media all and (max-width: 1665px)
{
.main-box
{
  margin: 0 2%;
}
}

.nom-resto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.nom-resto h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  padding-left: 1rem;
}

.fav {
  position: relative; /*bloc englobant*/
  padding-right: 1rem;
  
  i {
    color: $colour-icons; 
    font-size: 30px;
  }
  
  .full-heart {
    position: absolute; /*élément absolute*/
    left: 0px; /* a 0-left du bloc englobant*/
    opacity: 0;
    &:hover {
      background: linear-gradient(to top, $colour-primary, $colour-secondary);
      background-clip: text;
      color: transparent;
      opacity: 1;
      transition: 0.9s ease;
    }
  }
  
  .empty-heart:hover{
    opacity: 0;
  }
}

@media all and (min-width: 1300px)
{
  #section-menus {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
  }
}

.menu-block {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  
  & h2 {
    width: 3rem; /*barre verte sous titre*/
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: lighter;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #99E2D0;
  }
}

.menu {
  display: flex;
  overflow: hidden; /*La propriété CSS overflow est une propriété raccourcie qui définit comment gérer le dépassement du contenu d'un élément dans son bloc*/
  background-color: $colour-white;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 8px $colour-shadow; /* offset-x | offset-y | blur-radius | color */
  max-width: 100%;
}

@keyframes fadeIn
{
  from {
    transform: scale(0);
  }
  
  to {
    transform: scale(1);
  }
}

.fade-1 {
  animation: fadeIn 300ms;
}
.fade-2 {
  animation: fadeIn 600ms;
}
.fade-3 {
  animation: fadeIn 900ms;
}
.fade-3-bis {
  animation: fadeIn 1050ms;
}
.fade-4 {
  animation: fadeIn 1200ms;
}
.fade-5 {
  animation: fadeIn 1500ms;
}
.fade-6 {
  animation: fadeIn 1800ms;
}
.fade-7 {
  animation: fadeIn 2100ms;
}
.fade-8 {
  animation: fadeIn 2400ms;
}
.fade-9 {
  animation: fadeIn 2700ms;
}

.menu-text{
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
  & .title{
    margin: 0;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  & .description {
    margin: 0;
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.menu-prix {
  display: flex;
  justify-content: flex-end;
}

.price {
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  padding-left: 10px;
}

.check {
  display: flex;
  background-color: $colour-tertiary;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  transition-duration: 500ms; /*transition-duration définit le nbr de s/ms que doit durer une animation*/
}

.check-icon {
  color: $colour-white;
  font-size: 30px;
  font-weight: bold;
  transform: rotate(180deg);
  transition-duration: 500ms;
}

.menu:hover {
  & .check {
    margin-right: -1rem;
  }
  
  & .check-icon {
    transform: rotate(0deg);
  }
}

.btn-box {
  text-align: center;
}

.btn {
  border-radius: 3rem;
  background: linear-gradient($colour-secondary,$colour-primary); 
  color: $colour-white;
  font-weight: bold;
  padding: 1rem 3rem;
  font-size: 17px;
  border: none;
  margin: 2.5rem 0 4rem 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 15px $colour-shadow;
  justify-content: center;
  &:hover {
    &::after {
      opacity: 0.15;
    }
  }
  &::after {
    content: ""; /*La propriété "content" nous permet de remplir un pseudoélément de texte ou d’images, mais dans le cas de notre bouton, nous ne voulons pas y ajouter de contenu. 
    Nous voulons plutôt que ::after agisse comme un fond de couleur.*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    background-color: lighten($colour-white, 5);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    box-shadow: 0px 3px 15px black;
    border-radius: 3rem;
  }
  
  & a {
    color: white;
    text-decoration: none;
  }
}

/*L’ajout des éléments ::before ou ::after crée un élément enfant à chaque fois que son sélecteur a été assigné. 
L’élément créé par ::before sera le premier enfant de l’élément, et celui créé par ::after sera le dernier*/

#footer-box {
  background-color: $colour-footer-icons;
  padding-top: 2rem;
}

.ohmyfood {
  font-family:'Shrikhand';
  font-size: 26px;
  color: $colour-white;
  margin-left: 11%;
}

.footer-text{
  margin-left: 11%;
  color: $colour-white;
  padding: 1.5rem 0;
  line-height: 200%;
  font-size: 20px;
  
  & a{
    text-decoration: none;
    color: $colour-white;
    
    &:hover{
      text-decoration: underline;
    }
  }
}

.footer-block {
  display: flex;
}

.utensils {
  padding: 0 25px 0 5px;
}

.hands {
  padding-right: 20px;
}

/*--------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 1300px)
{
  
  .main-box
  {
    margin: 0 0.5rem;
  }
  
  #section-menus {
    display: flex;
    flex-direction: column;
  }
  
  .menu {
    padding: 15px;
    width: auto;
  }
  
  .ohmyfood {
    margin-left: 1.5rem;
  }
  
  .footer-text {
    margin-left: 1.5rem;
  } 
}

@media all and (max-width: 375px)
{
  .nom-resto h1
  {
    font-size: 27px;
  }
}

@media all and (min-width: 320px) and (max-width: 360px)
{
  #header {
    padding: 2rem 1.5rem;
  }  
}

@media all and (max-width: 315px)
{
  #header {
    padding: 2rem 0.9rem;
  }  
}
